*{
    margin:0;
    padding:0;
    
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.app{
    padding-top: 2%;
    /* display:flex; */
    /* flex-direction: column; */
    background-color: #F8F8FF;
    height:100vh;
    width:90%;
    margin:auto;
}

.header{
    font-family:'Roboto';
    text-align: center;
    padding:20px;
    font-size: 24px;
    /* font-weight: 100; */
    /* background-color: blue; */
}

.general{
    
    display: flex;
    flex-wrap: wrap; 
    align-content: center;
    justify-content: center;
}

.card{
    display: flex;
    flex-direction: column;
    border-radius: 2em;
    align-items: center; 
    justify-content: space-around;
    background-image: linear-gradien(#f64f59,#c471ed,#12c2e9); 
    /* background-color:#00ff7b; */
    /* padding:10px; */
    margin: 10px;
    width:250px;
    padding:10px;
    height:325px;
}

.logoGit{
    height:32px;
    width:32px;
    align-self: center;
    padding-right: 10px;
}

.logoLink{
    height:32px;
    width:32px;
    align-self: center;
    padding-left: 10px;
}

.card .name .profileName, .profilePos{
    text-align: center;
    padding: 5px;
    /* flex:1; */
}

.name .profileName{
    color:#3b3c36;
    /* flex:1; */
    /* color:#121212; */
}

.name .profilePos{
    color:#777672;
}

.dp{
    /* flex:4; */
    justify-content: center;
    align-items: center;
}

.links{
    /* display: flex;
    flex-direction: column; */
    
    align-items: baseline;
    justify-content: baseline;
    padding-top: 15px;
    /* padding-inline: 10px; */

}



/* Horizontal LIne */
.hr-theme-slash-2 {
    display: flex;
}    
.hr-line {
    width: 100%;
    position: relative;
    margin: 15px;
    border-bottom: 1px solid #000;
}
.hr-icon {
    position: relative;
    top: 3px;
    color: #ff0000;
}
